
include header

block content
  h1 Enviar Fotos
  form(method="get", action="/subirfoto")
    label Seleccione una foto
    br
    input(type="file", name="foto")
    br
    input(type="submit", value="Send photo")
  br
  br
         
include footer